@media(max-width: 365px) {
    #container .illustration img {
        width: 16.875rem;
    }

    #container .illustration {
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 600px) {
    header {
        padding: 3rem;
    }

    header img {
        width: 12.5rem;
    }

    #container {
        padding: 3rem;
        max-width: 56.25rem;
        margin: 0 auto;
    }

    #container .illustration {
        display: flex;
        justify-content: center;
    }

    #container .illustration img {
        width: 31.25rem;
    }

    #container .text {
        margin-top: 5rem;
    }

    #container .text h1 {
        font-size: 2.3rem;
    }

    #container .text p {
        font-size: 1.6rem;
    }

    #container .text .btn {
        font-size: 1.2rem;
        padding: 1rem 7rem;
        margin-bottom: 3rem;
    }
}

@media(min-width: 1000px) {
    #container .illustration img {
        width: 40rem;
    }

    #container .text h1 {
        font-size: 3rem;
    }
}

@media(min-width: 1350px) {
    body {
        background-image: url('../images/bg-desktop.svg');
    }
    
    header {
        padding: 3.5rem 4.1rem ;
        margin: 0 auto;
        max-width: 90rem;
    }

    header img {
        width: 13.75rem;
    }

    #container {
        max-width: 90rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding: 1.7rem 4.1rem;
    }

    #container .illustration img {
        width: 715px;
        height: 505px;
    }

    #container .text {
        margin-top: 1.5rem;
        text-align: left;
        line-height: 1.5;
    }

    #container .text h1 {
        font-size: 2.5rem;
    }

    #container .text p {
        font-size: 1.2rem;
        margin-top: 1.7rem;
        margin-bottom: 1.5rem;
    }

    #container .text .btn {
        padding: 1rem 4rem;
        margin-bottom: 0rem;
    }

    footer  ul {
        justify-content: flex-end;
        padding: 1rem 3rem;
        margin: 0 auto;
        max-width: 90rem;
    }
}