
@media(min-width:600px) {
    header {
        padding: 3rem;
    }

    header img {
        width: 12.5rem;
    }

    #container {
        padding: 3rem;
        max-width: 56.25rem;
    }

    #container .illustration img {
        width: 31.25rem;
    }

    #container .text {
        margin-top: 5rem;
    }

    #container .text h1 {
        font-size: 2.3rem;
    }

    #container .text p {
        font-size: 1.6rem;
    }

    #container .text .btn {
        font-size: 1.2rem;
        padding: 1rem 7rem;
        margin-bottom: 3rem;
    }
}